<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LayOut</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="left">
            <img src="https://cdn.discordapp.com/attachments/1077305863523532860/1134142290638667896/imageTwitter.png
            " alt=""></li>
        </div>
    
        <div class="right">
            <ul>
                <li>
                    <img src="URL=https://cdn.discordapp.com/attachments/1077305863523532860/1134142290382819348/google.png
                    " alt="Registrarse con Google">
                </li>
                <li>
                    <img src="URL=https://cdn.discordapp.com/attachments/1077305863523532860/1134142290114400256/apple.png
                    " alt="Registrarse con Apple">
                </li>
                <li>
                    <img src="URL=https://cdn.discordapp.com/attachments/1077305863523532860/1134142291360092281/twitterLogo.png
                    " alt="Registrarse con el número de teléfono...">
                </li>
                <li>
                    <img src="" alt="">
                </li>
            </ul>
        </div>
    </div>




    </div>        <li>
        <h2>
            <p>Lo que está pasando ahora</p>
         </h2>
         <h3>
            <p>Únete a Twitter hoy mismo.</p>
        </h3>


    <footer>
        <p>acerca de </p>
        <p>centro de ayuda</p>
        <p>condiciones de servicios</p>
    </footer>
</body>
</html>